@{
Layout = "~/Views/Shared/_PageLayout.cshtml";
ViewBag.Title = "Home Page";
}

<body>
    <section class="content-header">
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
            <li><a href="#">后台管理</a></li>
            <li class="active">部门管理</li>
        </ol>
    </section>
    <div class="tableBody">
        @*<div class="panel panel-default">
            <div class="panel-heading">部门管理</div>
            <div class="panel-body form-group" style="margin-bottom: 0px;">
                <div class="col-sm-2">
                    <select class="form-control" name="MsgType" id="search_MsgType" style="text-align-last: center;"
                        onchange="filter();">
                        <option value=0 selected>选择模板类型</option>
                        <option value=1>车站</option>
                        <option value=2>列车</option>
                    </select>
                </div>
            </div>
        </div>*@
        <table id="mytab" class="table table-hover"></table>
        <div id="toolbar" class="btn-group pull-right" style="margin-right: 20px;">
            <button id="btn_delete" type="button" class="btn btn-default" style="display: none;">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                删除
            </button>
            <button id="btn_add" type="button" class="btn btn-default" onclick="btnAddClick();">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                新增集散中心
            </button>
        </div>
    </div>
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel1">新增部门</h4>
                </div>
                <form id="addForm" method="post" class="form-horizontal" action="target.php">
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">部门名称</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="Name" id="add_Name" />
                            </div>
                        </div> 
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">部门类型</label>
                            <div class="col-sm-9">
                                <select class="form-control" name="DepartType" id="add_DepartType" onchange="departTypeSelected('#add_DepartType', '#add_ParentId')">
                                    <option value="集散中心" selected>集散中心</option>
                                    <option value="集散中心">门店</option>
                                </select>
                            </div>
                        </div>  
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">所属部门</label>
                            <div class="col-sm-9">
                                <select class="form-control" name="ParentId" id="add_ParentId">
                                    <option value=0 selected>顶级</option>
                                </select>
                            </div>
                        </div>     
                               
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" id="add_saveBtn">保存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div th:include="footer::footer('')"></div>
    <script>
        function btnAddClick()
		{
            fillSelect("#add_ParentId", false);
            $("#addModal").modal("show");
        }

        function addClick() {
            fillSelect("#add_ParentId", false);
            $("#addModal").modal("show");
        }
		
		function deleteClick(index) {
			var row = getRow(index);
			$('.popup_de .show_msg').text('确定要删除该设备吗?');
			$('.popup_de').addClass('bbox');
			$('.popup_de .btn_submit').one('click', function() {
				$.post("/categorytemplate/delete/" + row.id, null, function(data) {
					if (data.status == 200) {
						$('.popup_de .show_msg').text('删除成功！');
						$('.popup_de .btn_cancel').css('display', 'none');
						$('.popup_de').addClass('bbox');
						$('.popup_de .btn_submit').one('click', function() {
							$('.popup_de').removeClass('bbox');
						})
						$('#mytab').bootstrapTable('refresh', {
							url : '/categorytemplate/list'
						});
					} else {
						alert('删除失败:原因' + data.msg)
					}
				});
			})
		}
		function changeCategory(index) {
			fillSelect("#edit_ParentId");
			var row = getRow(index)
			$("#edit_Id").val(row.id);
			$("#edit_SysType").val(row.sysType);
			$("#edit_ParentId").val(row.parentId);
			$("#edit_Name").val(row.name);
			$("#edit_Code").val(row.code);
			$("#changeBody").modal("show");
		}

		function getRow(index) {
			var dataArr = $('#mytab').bootstrapTable('getData');
			return dataArr[index];
		}

		function fillSelect(target, isStore) {
			$(target).empty();
			$(target).append("<option value=0 selected>顶级</option>"); //为Select追加一个Option(下拉项)
			var dataArr = $('#mytab').bootstrapTable('getData');
			for (var i = 0; i < dataArr.length; i++) {
			    if (isStore)
			    {
			        
			        $(target).append("<option value=" + dataArr[i].Id + " selected>" + dataArr[i].Name + "</option>");
			    }
			    else
			    {
			        if (dataArr[i].DepartType == "集散中心")
			        {
			            $(target).append("<option value=" + dataArr[i].Id + " selected>" + dataArr[i].Name + "</option>");
			        }			        
			    }
				
			}
		}

		function departTypeSelected(source, target) {
		    var type = $(source).find("option:selected").text();
			if (type == "集散中心") {
				fillSelect(target, false)
			}
			else {
			    fillSelect(target, true)
			}
		}
    </script>
    <script type="text/javascript">
        $(function () {
            $('#mytab').bootstrapTable({
                method: 'post',
                contentType: "application/x-www-form-urlencoded",
                url: "@Url.Action("List", "Department")",
                height: tableHeight(), //高度调整
                toolbar: '#toolbar',
                striped: true, //是否显示行间隔色
                dataField: "rows",
                pageNumber: 1, //初始化加载第一页，默认第一页
                pagination: true, //是否分页
                queryParamsType: '',
                queryParams: queryParams,
                sidePagination: 'server',
                idField: "Id",
                treeShowField: "Name",
                parentIdField: "ParentId",
                //showRefresh: true, //刷新按钮
                //showColumns: true,
                //clickToSelect: true, //是否启用点击选中行
                toolbarAlign: 'right',
                buttonsAlign: 'right', //按钮对齐方式
                columns: [{
                        title: '全选',
                        field: 'select',
                        checkbox: true,
                        width: 25,
                        align: 'center',
                        valign: 'middle'
                    }, {
                        title: '编号',
                        field: 'Id',
                        visible: false
                    },
                    {
                        title: '部门名称',
                        field: 'Name',
                        sortable: false,
                        editable: {
                            type: 'text',
                            title: '部门名称'
                        }
                    },
                    {
                        title: '部门类型',
                        field: 'DepartType',
                        sortable: false,
                    },
                    {
                        title: '操作',
                        field: 'operate',
                        align: 'center',
                        valign: 'middle',
                        width: 400,
                        formatter: function (value, row, index) {
                            var e = '<div class="tableBody">';
                            if (row.DepartType == "集散中心")
                            {
                                e += '<div class="col-sm-3"><button type="button" class="btn btn-primary" onclick="addClick(' + index + ')">添加</button></div>';
                                e += '<div class="col-sm-3"><button type="button" class="btn btn-warning"  onclick="deleteClick(' + index + ')">删除</a></div></div>';                               
                            }
                            else
                            {
                                e += '<div class="col-sm-3"><button type="button" class="btn btn-primary" onclick="addClick(' + index + ')">添加</button></div>';
                                e += '<div class="col-sm-3"><button type="button" class="btn btn-warning"  onclick="deleteClick(' + index + ')">删除</a></div></div>';
                            }
                           
                            return e;
                        }
                    }
                ],
                onLoadSuccess: function (data) {
                    console.log('load');
                    // jquery.treegrid.js
                    $('#mytab').treegrid({
                        // initialState: 'collapsed',
                        treeColumn: 1,
                        expanderExpandedClass: 'glyphicon glyphicon-minus',
                        expanderCollapsedClass: 'glyphicon glyphicon-plus',
                        onChange: function () {
                            $('#mytab').bootstrapTable('resetWidth');
                        }
                    });
                },
                locale: 'zh-CN',//中文支持,
                locale: 'zh-CN', //中文支持,
                onEditableSave: function (field, row, oldValue, $el) {
                    $.ajax({
                        type: "post",
                        url: "/pa/prerecord/update",
                        data: row,
                        dataType: 'JSON',
                        success: function (data, result) {
                            if (result.status = 200) {
                                filter();
                            } else {
                                alert('操作失败');
                            }
                        },
                        error: function () {
                            alert('编辑失败');
                        },
                        complete: function () {

                        }
                    });
                }
            })

            $('#addForm').bootstrapValidator({
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {

                }
            });
            $('#editForm').bootstrapValidator({
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    Id: {
                        validators: {
                            notEmpty: {
                                message: 'ID不能为空'
                            }
                        }
                    }
                }
            });

            //请求服务数据时所传参数
            function queryParams(params) {
                return {
                    pageSize: params.pageSize,
                    pageIndex: params.pageNumber,
                    msgType: $('#search_MsgType').val()
                }
            }

            //删除按钮与修改按钮的出现与消失
            $('.bootstrap-table').change(function () {
                var dataArr = $('#mytab .selected');
                if (dataArr.length >= 1) {
                    $('#btn_delete').css('display', 'block').removeClass('fadeOutRight').addClass(
                        'animated fadeInRight');
                } else {
                    $('#btn_delete').addClass('fadeOutRight');
                    setTimeout(function () {
                        $('#btn_delete').css('display', 'none');
                    }, 400);
                }
            });

            /*
             * 用户管理增加用户页面所有事件
             */
            //增加页面表单验证
            // Validate the form manually
            $('#add_saveBtn').click(function () {
                //点击保存时触发表单验证
                $('#addForm').bootstrapValidator('validate');
                //如果表单验证正确，则请求后台添加用户
                if ($("#addForm").data('bootstrapValidator').isValid()) {
                    var _info = $('#addForm').serialize();
                    $.post("/pa/prerecord/add", $('#addForm').serialize(), function (data) {
                        //后台返回添加成功
                        if (data.status == 200) {
                            $('#addBody').modal('hide');
                            $('#mytab').bootstrapTable('refresh', {
                                url: '/pa/prerecord/list'
                            });
                            $('#addForm').data('bootstrapValidator').resetForm(true);
                            //隐藏修改与删除按钮
                            $('#btn_delete').css('display', 'none');
                            $('#btn_edit').css('display', 'none');
                        }
                        //否则
                        else {
                            alert('添加失败:原因' + data.msg)
                        }
                    })
                }
            });

            //删除事件按钮
            $('#btn_delete').click(function () {
                var dataArr = $('#mytab').bootstrapTable('getSelections');
                $('.popup_de .show_msg').text('确定要删除该设备吗?');
                $('.popup_de').addClass('bbox');
                $('.popup_de .btn_submit').one('click', function () {
                    var ID = [];
                    for (var i = 0; i < dataArr.length; i++) {
                        ID[i] = dataArr[i].id;
                    }
                    $.post("/pa/prerecord/delete", {
                        ID: ID
                    }, function (data) {
                        if (data.status == 200) {
                            $('.popup_de .show_msg').text('删除成功！');
                            $('.popup_de .btn_cancel').css('display', 'none');
                            $('.popup_de').addClass('bbox');
                            $('.popup_de .btn_submit').one('click', function () {
                                $('.popup_de').removeClass('bbox');
                            })
                            $('#mytab').bootstrapTable('refresh', {
                                url: '/pa/prerecord/list'
                            });
                        } else {
                            alert('删除失败:原因' + data.msg)
                        }
                    });
                })
            })
        })

        function filter() {
            $('#mytab').bootstrapTable('refresh', {
                url: '/pa/prerecord/list'
            })
        }
    </script>
</body>