<!DOCTYPE html>
<html>
<head th:fragment="head(title, cssPaths)">
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <!-- begin bootstrap -->
    @Styles.Render("~/css/page")
    @Scripts.Render("~/js/page")
    <!--end::bootstrap样式 -->
    <!--begin::页面样式 -->
    @*<link rel="stylesheet" type="text/css" th:each="cssPath,status:${#strings.setSplit(cssPaths,',')}" th:href="@{${cssPath}}" />*@
    <!--end::页面样式 -->
    <style>
        .back:hover {
            cursor: pointer;
        }

        .fixed-table-toolbar .btn-group > .btn-group:last-child > .btn {
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
        }

        label {
            width: 150px;
        }

        .popup_de {
            background-color: rgba(0,0,0,0.3);
            width: 100%;
            height: 100%;
            position: fixed;
            z-index: 999;
            top: 0;
            left: 0;
            display: none;
        }

        .bbox {
            display: -webkit-box; /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
            display: -moz-box; /* 老版本语法: Firefox (buggy) */
            display: -ms-flexbox; /* 混合版本语法: IE 10 */
            display: -webkit-flex; /* 新版本语法: Chrome 21+ */
            display: -moz-flex;
            display: flex; /* 新版本语法: Opera 12.1, Firefox 22+ */
        }

            .bbox.xycenter {
                -moz-box-pack: center; /*Firefox*/
                -webkit-box-pack: center; /*Safari,Opera,Chrome*/
                box-pack: center;
                -moz-justify-content: center;
                -webkit-justify-content: center;
                justify-content: center;
                -moz-box-align: center; /*Firefox*/
                -webkit-box-align: center; /*Safari,Opera,Chrome*/
                box-align: center;
                -moz-align-items: center;
                -webkit-align-items: center;
                align-items: center;
            }

        .popup_de .popup_box {
            width: 300px;
            height: 200px;
            font-family: '微软雅黑';
            background-color: #fff;
            border-radius: 5px;
            color: #333;
        }

        .popup_de .popup_btn {
            display: inline-block;
            width: 100px;
            height: 30px;
            border-radius: 3px;
            border: 1px solid #1ab394;
            font-size: 15px;
            text-align: center;
            line-height: 30px;
            margin-right: 15px;
            cursor: pointer;
        }

        .popup_de .show_msg {
            display: block;
            width: 100%;
            text-align: center;
            font-size: 18px;
            margin-top: 40px;
            margin-bottom: 20px;
            padding: 10px;
        }

        .popup_de .popup_close {
            width: 30px;
            height: 30px;
            font-size: 25px;
            text-align: center;
            display: inline-block;
            cursor: pointer;
            float: right;
            border-top-right-radius: 5px;
            line-height: 30px;
        }

            .popup_de .popup_close:hover {
                background-color: #1ab394;
                color: #fff;
            }

        .popup_de .btn_submit {
            background-color: #1ab394;
            color: #fff;
        }

        .popup_de .btn_box {
            text-align: center;
        }
    </style>
</head>

    @RenderBody()
    
    <div class="popup_de xycenter">
        <div class="popup_box">
            <span class="popup_close" value="关闭">×</span> <span class="show_msg">确定要删除该设备吗？</span>
            <div class="btn_box">
                <div class="popup_btn btn_submit" value="确定">确定</div>
                <div class="popup_btn btn_cancel" value="取消">取消</div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
			//弹出框取消按钮事件
			$('.popup_de .btn_cancel').click(function() {
				$('.popup_de').removeClass('bbox');
			})
			//弹出框关闭按钮事件
			$('.popup_de .popup_close').click(function() {
				$('.popup_de').removeClass('bbox');
			})
			function tableHeight() {
				return $(window).height() - 140;
			}
			$(window).resize(function() {
				$('#mytab').bootstrapTable('resetView', {
					height : tableHeight()
				})
			})
    </script>
    @*<script th:each="jsPath,status:${#strings.setSplit(jsPaths,',')}" th:src="@{${jsPath}}"></script>*@

</html>